<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel>Sus Productos</ng-template>
    <!--
    <p *ngIf="(products$ | async).length === 0">No hay productos en el carrito</p>
    <ul>
      <li *ngFor="let product of (products$ | async)">
        {{ product.title }}
      </li>
    </ul>
    -->
    <div *ngIf="(products$ | async) as products">
      <p *ngIf="products.length === 0">No hay productos en el carrito</p>
      <ul>
        <li *ngFor="let product of products">
          {{ product.title }}
        </li>
      </ul>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Datos Personales</ng-template>
    <p>datos personales</p>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pago</ng-template>
    <p>pago</p>
  </mat-step>
</mat-horizontal-stepper>
