<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Shipping Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Identification Number" formControlName="id" type="text">
            <mat-error *ngIf="form.controls['id'].hasError('required')">
              Identification Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Product Title" formControlName="title" type="text">
            <mat-error *ngIf="titleField.hasError('required')">
              Title is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="titleField.hasError('minlength')">
              Title min length is <strong>5</strong>
            </mat-error>
            <mat-error *ngIf="titleField.hasError('maxlength')">
              Title max length is <strong>5</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Product Price" formControlName="price" type="number">
            <mat-error *ngIf="form.controls['price'].hasError('required')">
              Price is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.controls['price'].hasError('price_invalid')">
              Price exceeds the valid value
            </mat-error>
            <mat-error *ngIf="form.controls['price'].hasError('invalid_price')">
              Price is invalid value.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Product Description" formControlName="description"></textarea>
            <mat-error *ngIf="form.controls['description'].hasError('required')">
              Description is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('description').hasError('required')">
              Description is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!form.invalid" mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
