/* You can add global styles to this file, and also import other style files */
.product-grid {
  display: grid;
  background-color: pink;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 576px) {
  .product-grid {
    background-color: yellow;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .product-grid {
    background-color: blue;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .product-grid {
    background-color: red;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (mid-width: 1200px) {
  .product-grid {
    background-color: green;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
  width: 100%
}
